In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from statsmodels import api
from scipy import stats
from scipy.optimize import minimize

In [ ]:
#f = open('/content/nasdaq00.txt', encoding='utf8')
x = pd.read_csv('/content/nasdaq00.txt', sep=',', header=None, index_col=None)
print( )
print(x.iloc[2][0])
print(x.iloc[3][0])
print(x.iloc[4][0])
#print(len(x))
#print(x.describe())

3711.09
4002.23
4031.38
3950.95

In [ ]:
data=[]
for t in range(4,len(x)):
  data.append([x.iloc[t-1][0], x.iloc[t-2][0], x.iloc[t-3][0],x.iloc[t][0]])
  df = pd.DataFrame(data, columns=['x1', 'x2', 'x3', 'y'])
print(df)

          x1       x2       x3        y
0    4031.38  4002.23  3711.09  3950.95
1    3950.95  4031.38  4002.23  3915.14
2    3915.14  3950.95  4031.38  4045.72
3    4045.72  3915.14  3950.95  4059.65
4    4059.65  4045.72  3915.14  4116.27
..       ...      ...      ...      ...
240  2310.21  2410.96  2617.06  2397.67
241  2397.67  2310.21  2410.96  2518.29
242  2518.29  2397.67  2310.21  2471.33
243  2471.33  2518.29  2397.67  2517.90
244  2517.90  2471.33  2518.29  2552.68

[245 rows x 4 columns]

In [ ]:
df.isnull().sum()

x1    0
x2    0
x3    0
y     0
dtype: int64

In [ ]:
X=df.drop(columns='y')
X

          x1       x2       x3
0    4031.38  4002.23  3711.09
1    3950.95  4031.38  4002.23
2    3915.14  3950.95  4031.38
3    4045.72  3915.14  3950.95
4    4059.65  4045.72  3915.14
..       ...      ...      ...
240  2310.21  2410.96  2617.06
241  2397.67  2310.21  2410.96
242  2518.29  2397.67  2310.21
243  2471.33  2518.29  2397.67
244  2517.90  2471.33  2518.29

[245 rows x 3 columns]

In [ ]:
Y=df['y']
Y

0      3950.95
1      3915.14
2      4045.72
3      4059.65
4      4116.27
        ...
240    2397.67
241    2518.29
242    2471.33
243    2517.90
244    2552.68
Name: y, Length: 245, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test= train_test_split(X, Y, test_size=0.15, random_state=0)

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [ ]:
lr.fit(X_train, Y_train)

LinearRegression()

In [ ]:
c=lr.intercept_
c

54.779696479109134

In [ ]:
m=lr.coef_
a1=m[0]
a2=m[1]
a3=m[2]

In [ ]:
a1,a2,a3

(0.9495932101474651, 0.015337856936623009, 0.02067443273439914)

In [ ]:
x = pd.read_csv('/content/nasdaq00.txt', sep=',', header=None, index_col=None)
x_2001=pd.read_csv('/content/nasdaq01.txt', sep=',', header=None, index_col=None)

In [ ]:
data=[]
for t in range(4,len(x)):
  y_pred=a1*x.iloc[t-1][0]+a2*x.iloc[t-2][0]+a3* x.iloc[t-3][0];
  data.append([x.iloc[t-1][0], x.iloc[t-2][0], x.iloc[t-3][0],y_pred,x.iloc[t][0]])

  df = pd.DataFrame(data, columns=['x1', 'x2', 'x3','y_pred', 'y'])
print(df)

          x1       x2       x3       y_pred        y
0    4031.38  4002.23  3711.09  3966.281387  3950.95
1    3950.95  4031.38  4002.23  3896.371858  3915.14
2    3915.14  3950.95  4031.38  3861.735961  4045.72
3    4045.72  3915.14  3950.95  3983.521749  4059.65
4    4059.65  4045.72  3915.14  3998.012049  4116.27
..       ...      ...      ...          ...      ...
240  2310.21  2410.96  2617.06  2284.844921  2397.67
241  2397.67  2310.21  2410.96  2362.090053  2518.29
242  2518.29  2397.67  2310.21  2475.888486  2471.33
243  2471.33  2518.29  2397.67  2434.953827  2517.90
244  2517.90  2471.33  2518.29  2480.949867  2552.68

[245 rows x 5 columns]

In [ ]:
y_pred=df['y_pred']
print(y_pred)

0      3966.281387
1      3896.371858
2      3861.735961
3      3983.521749
4      3998.012049
          ...
240    2284.844921
241    2362.090053
242    2475.888486
243    2434.953827
244    2480.949867
Name: y_pred, Length: 245, dtype: float64

In [ ]:
y=df['y']
print(y)

0      3950.95
1      3915.14
2      4045.72
3      4059.65
4      4116.27
        ...
240    2397.67
241    2518.29
242    2471.33
243    2517.90
244    2552.68
Name: y, Length: 245, dtype: float64

In [ ]:
import math
MSE = np.square(np.subtract(y,y_pred)).mean()
rsme = math.sqrt(MSE)
rsme

127.57048167149924

In [ ]:
data=[]
for t in range(4,len(x_2001)):
  y_pred=a1*x_2001.iloc[t-1][0]+a2*x_2001.iloc[t-2][0]+a3* x_2001.iloc[t-3][0];
  data.append([x_2001.iloc[t-1][0], x_2001.iloc[t-2][0], x_2001.iloc[t-3][0],y_pred,x_2001.iloc[t][0]])

  df = pd.DataFrame(data, columns=['x1', 'x2', 'x3','y_pred', 'y'])
print(df)

          x1       x2       x3       y_pred        y
0    2573.11  2593.96  2254.56  2529.805321  2388.72
1    2388.72  2573.11  2593.96  2361.406938  2424.69
2    2424.69  2388.72  2573.11  2392.304596  2392.71
3    2392.71  2424.69  2388.72  2358.676149  2495.59
4    2495.59  2392.71  2424.69  2456.623453  2639.56
..       ...      ...      ...          ...      ...
239  1941.55  1969.00  1981.65  1914.852427  1946.84
240  1946.84  1941.55  1969.00  1919.193219  1948.77
241  1948.77  1946.84  1941.55  1920.539558  1967.32
242  1967.32  1948.77  1946.84  1938.293482  1985.71
243  1985.71  1967.32  1948.77  1956.080920  1984.31

[244 rows x 5 columns]

In [ ]:
y_pred=df['y_pred']
print(y_pred)

0      2529.805321
1      2361.406938
2      2392.304596
3      2358.676149
4      2456.623453
          ...
239    1914.852427
240    1919.193219
241    1920.539558
242    1938.293482
243    1956.080920
Name: y_pred, Length: 244, dtype: float64

In [ ]:
y=df['y']
print(y)

0      2388.72
1      2424.69
2      2392.71
3      2495.59
4      2639.56
        ...
239    1946.84
240    1948.77
241    1967.32
242    1985.71
243    1984.31
Name: y, Length: 244, dtype: float64

In [ ]:
import math
MSE = np.square(np.subtract(y,y_pred)).mean()
rsme = math.sqrt(MSE)
rsme

60.664515501621636